parameters:
    level: 7
    paths:
        - app/
    tmpDir: storage/phpstan
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Foundation\Http\FormRequest
        - Illuminate\Foundation\Auth\Access\AuthorizesRequests
    ignoreErrors:
        - '#Cannot access property \$[a-zA-Z_]+ on#'
        - '#Unsafe usage of new static#'
        - '#Access to an undefined property Illuminate\\Http\\Request#'
        - '#PHPDoc type array<string> of property#'
        - '#should return .* but returns Illuminate\\Database\\Eloquent\\Model#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model#'
        - '#has no value type specified in iterable type#'
        - '#with no value type specified in iterable type#'
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Factory#'
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable#'
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::with\(\)#'
        - '#is not subtype of native type#'
        - '#has invalid return type App\\Modules\\Core\\Models\\Model#'
        - '#is not subtype of template type TRelatedModel#'
        - '#should return Illuminate\\Database\\Eloquent\\Relations\\MorphTo#'
        - '#Call to an undefined method App\\Modules\\Shop\\Models\\ShopProduct\|Illuminate\\Database\\Eloquent\\Collection#'
        - '#Access to an undefined property App\\Modules\\Shop\\Models\\ShopProduct\|Illuminate\\Database\\Eloquent\\Collection#'
        - '#Parameter \#1 \$product of method App\\Modules\\Shop\\Services\\ShopOrderService::createOrder\(\)#'
        - '#Access to an undefined property object::\$user#'
        - '#Negated boolean expression is always false#'
        - '#Call to an undefined method Elastic\\Elasticsearch\\Response\\Elasticsearch\|Http\\Promise\\Promise::asBool\(\)#'
        - '#Call to an undefined method Elastic\\Elasticsearch\\Response\\Elasticsearch\|Http\\Promise\\Promise::asArray\(\)#'
        - '#Parameter \#1 \$time of static method Carbon\\Carbon::parse\(\)#'
        - '#Part \$type .* of encapsed string cannot be cast to string#'
        - '#Cannot call method .* on stdClass#'
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Cache::getRedis\(\)#'
        - '#Parameter \#1 \$sellerId of method .* expects string#'
        - '#Parameter \#1 \$productId of method .* expects string#'
        - '#return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types#'
        - '#return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types#'
        - '#Parameter \#1 \$stream of function fputcsv expects resource#'
        - '#Parameter \#1 \$stream of function fclose expects resource#'
        - '#Using nullsafe property access .* is unnecessary#'
        - '#has parameter \$order with no type specified#'
        - '#has parameter \$dispute with no type specified#'
        - '#Parameter \#2 \$payload of method Minishlink\\WebPush\\WebPush::queueNotification\(\)#'
        - '#Call to static method warning\(\) on an unknown class Log#'
        - '#Call to static method error\(\) on an unknown class Log#'
        - '#uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types#'
        - '#Call to protected method increment\(\) of class Illuminate\\Database\\Eloquent\\Model#'
        - '#Call to protected method decrement\(\) of class Illuminate\\Database\\Eloquent\\Model#'
        - '#has no return type specified#'
        - '#Cannot cast non-empty-array\|float\|int<min, -1>\|int<1, max>\|non-falsy-string\|true to string#'
        - '#Cannot cast array\|bool\|float\|int\|string\|null to string#'
        - '#Parameter \#1 \$value of function count expects array\|Countable#'
    bootstrapFiles:
        - vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
    excludePaths:
        analyseAndScan:
            - storage
            - vendor
            - resources (?)  # Путь может не существовать при сканировании
            - public/build (?)
            - marketplace-frontend (?)  # Если frontend в отдельной папке
    reportUnmatchedIgnoredErrors: false
    parallel:
            maximumNumberOfProcesses: 2
            processTimeout: 300.0
